<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
  <testsuite name="" tests="125" assertions="323" errors="0" warnings="0" failures="0" skipped="0" time="0.170911">
    <testsuite name="NGames PHP Framework Test Suite" tests="125" assertions="323" errors="0" warnings="0" failures="0" skipped="0" time="0.170911">
      <testsuite name="Ngames\Framework\Tests\ApplicationTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ApplicationTest.php" tests="12" assertions="19" errors="0" warnings="0" failures="0" skipped="0" time="0.023163">
        <testcase name="testInitializeGetInstance" class="Ngames\Framework\Tests\ApplicationTest" classname="Ngames.Framework.Tests.ApplicationTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ApplicationTest.php" line="51" assertions="1" time="0.003947"/>
        <testcase name="testInitialize_alreadyInitialized" class="Ngames\Framework\Tests\ApplicationTest" classname="Ngames.Framework.Tests.ApplicationTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ApplicationTest.php" line="57" assertions="2" time="0.001177"/>
        <testcase name="testGetInstance_notInitialized" class="Ngames\Framework\Tests\ApplicationTest" classname="Ngames.Framework.Tests.ApplicationTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ApplicationTest.php" line="65" assertions="2" time="0.000418"/>
        <testcase name="testGetConfiguration" class="Ngames\Framework\Tests\ApplicationTest" classname="Ngames.Framework.Tests.ApplicationTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ApplicationTest.php" line="72" assertions="1" time="0.000623"/>
        <testcase name="testGetTimer" class="Ngames\Framework\Tests\ApplicationTest" classname="Ngames.Framework.Tests.ApplicationTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ApplicationTest.php" line="79" assertions="1" time="0.000571"/>
        <testcase name="testGetRouter" class="Ngames\Framework\Tests\ApplicationTest" classname="Ngames.Framework.Tests.ApplicationTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ApplicationTest.php" line="85" assertions="1" time="0.000408"/>
        <testcase name="testIsDebug" class="Ngames\Framework\Tests\ApplicationTest" classname="Ngames.Framework.Tests.ApplicationTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ApplicationTest.php" line="91" assertions="2" time="0.001022"/>
        <testcase name="testLoggerInitialization" class="Ngames\Framework\Tests\ApplicationTest" classname="Ngames.Framework.Tests.ApplicationTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ApplicationTest.php" line="98" assertions="1" time="0.000971"/>
        <testcase name="testRun" class="Ngames\Framework\Tests\ApplicationTest" classname="Ngames.Framework.Tests.ApplicationTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ApplicationTest.php" line="110" assertions="2" time="0.004269"/>
        <testcase name="testRun_actionNotFound" class="Ngames\Framework\Tests\ApplicationTest" classname="Ngames.Framework.Tests.ApplicationTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ApplicationTest.php" line="125" assertions="2" time="0.002876"/>
        <testcase name="testRun_actionReturnString" class="Ngames\Framework\Tests\ApplicationTest" classname="Ngames.Framework.Tests.ApplicationTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ApplicationTest.php" line="140" assertions="2" time="0.002842"/>
        <testcase name="testRun_actionReturnNull" class="Ngames\Framework\Tests\ApplicationTest" classname="Ngames.Framework.Tests.ApplicationTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ApplicationTest.php" line="155" assertions="2" time="0.004037"/>
      </testsuite>
      <testsuite name="Ngames\Framework\Tests\ControllerTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ControllerTest.php" tests="10" assertions="24" errors="0" warnings="0" failures="0" skipped="0" time="0.021918">
        <testcase name="testSetRequest" class="Ngames\Framework\Tests\ControllerTest" classname="Ngames.Framework.Tests.ControllerTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ControllerTest.php" line="53" assertions="1" time="0.003167"/>
        <testcase name="testOk" class="Ngames\Framework\Tests\ControllerTest" classname="Ngames.Framework.Tests.ControllerTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ControllerTest.php" line="61" assertions="2" time="0.000878"/>
        <testcase name="testRedirect" class="Ngames\Framework\Tests\ControllerTest" classname="Ngames.Framework.Tests.ControllerTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ControllerTest.php" line="75" assertions="3" time="0.002516"/>
        <testcase name="testNotFound" class="Ngames\Framework\Tests\ControllerTest" classname="Ngames.Framework.Tests.ControllerTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ControllerTest.php" line="90" assertions="3" time="0.001923"/>
        <testcase name="testBadRequest" class="Ngames\Framework\Tests\ControllerTest" classname="Ngames.Framework.Tests.ControllerTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ControllerTest.php" line="105" assertions="3" time="0.001773"/>
        <testcase name="testInternalError" class="Ngames\Framework\Tests\ControllerTest" classname="Ngames.Framework.Tests.ControllerTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ControllerTest.php" line="120" assertions="3" time="0.001869"/>
        <testcase name="testJson" class="Ngames\Framework\Tests\ControllerTest" classname="Ngames.Framework.Tests.ControllerTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ControllerTest.php" line="135" assertions="3" time="0.001766"/>
        <testcase name="testExecute" class="Ngames\Framework\Tests\ControllerTest" classname="Ngames.Framework.Tests.ControllerTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ControllerTest.php" line="150" assertions="2" time="0.002238"/>
        <testcase name="testForward" class="Ngames\Framework\Tests\ControllerTest" classname="Ngames.Framework.Tests.ControllerTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ControllerTest.php" line="164" assertions="2" time="0.002309"/>
        <testcase name="testExecute_errorMethodNotFound" class="Ngames\Framework\Tests\ControllerTest" classname="Ngames.Framework.Tests.ControllerTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ControllerTest.php" line="178" assertions="2" time="0.003480"/>
      </testsuite>
      <testsuite name="Ngames\Framework\Tests\Database\ConnectionTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Database/ConnectionTest.php" tests="16" assertions="42" errors="0" warnings="0" failures="0" skipped="0" time="0.006589">
        <testcase name="testQuery" class="Ngames\Framework\Tests\Database\ConnectionTest" classname="Ngames.Framework.Tests.Database.ConnectionTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Database/ConnectionTest.php" line="30" assertions="13" time="0.000529"/>
        <testcase name="testQuery_error" class="Ngames\Framework\Tests\Database\ConnectionTest" classname="Ngames.Framework.Tests.Database.ConnectionTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Database/ConnectionTest.php" line="52" assertions="2" time="0.000349"/>
        <testcase name="testExec_delete" class="Ngames\Framework\Tests\Database\ConnectionTest" classname="Ngames.Framework.Tests.Database.ConnectionTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Database/ConnectionTest.php" line="59" assertions="3" time="0.000378"/>
        <testcase name="testExec_update" class="Ngames\Framework\Tests\Database\ConnectionTest" classname="Ngames.Framework.Tests.Database.ConnectionTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Database/ConnectionTest.php" line="66" assertions="3" time="0.000567"/>
        <testcase name="testExec_error" class="Ngames\Framework\Tests\Database\ConnectionTest" classname="Ngames.Framework.Tests.Database.ConnectionTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Database/ConnectionTest.php" line="87" assertions="2" time="0.000329"/>
        <testcase name="testCount" class="Ngames\Framework\Tests\Database\ConnectionTest" classname="Ngames.Framework.Tests.Database.ConnectionTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Database/ConnectionTest.php" line="94" assertions="1" time="0.000313"/>
        <testcase name="testCount_error" class="Ngames\Framework\Tests\Database\ConnectionTest" classname="Ngames.Framework.Tests.Database.ConnectionTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Database/ConnectionTest.php" line="100" assertions="2" time="0.000325"/>
        <testcase name="testQueryOne" class="Ngames\Framework\Tests\Database\ConnectionTest" classname="Ngames.Framework.Tests.Database.ConnectionTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Database/ConnectionTest.php" line="107" assertions="1" time="0.000402"/>
        <testcase name="testQueryOne_error" class="Ngames\Framework\Tests\Database\ConnectionTest" classname="Ngames.Framework.Tests.Database.ConnectionTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Database/ConnectionTest.php" line="117" assertions="2" time="0.000326"/>
        <testcase name="testInsert" class="Ngames\Framework\Tests\Database\ConnectionTest" classname="Ngames.Framework.Tests.Database.ConnectionTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Database/ConnectionTest.php" line="124" assertions="4" time="0.000501"/>
        <testcase name="testInsert_error" class="Ngames\Framework\Tests\Database\ConnectionTest" classname="Ngames.Framework.Tests.Database.ConnectionTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Database/ConnectionTest.php" line="142" assertions="2" time="0.000340"/>
        <testcase name="testFindOneById" class="Ngames\Framework\Tests\Database\ConnectionTest" classname="Ngames.Framework.Tests.Database.ConnectionTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Database/ConnectionTest.php" line="149" assertions="1" time="0.000404"/>
        <testcase name="testFindOneById_error" class="Ngames\Framework\Tests\Database\ConnectionTest" classname="Ngames.Framework.Tests.Database.ConnectionTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Database/ConnectionTest.php" line="159" assertions="2" time="0.000334"/>
        <testcase name="testGetLastError" class="Ngames\Framework\Tests\Database\ConnectionTest" classname="Ngames.Framework.Tests.Database.ConnectionTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Database/ConnectionTest.php" line="166" assertions="2" time="0.000883"/>
        <testcase name="testGetQueryCounter" class="Ngames\Framework\Tests\Database\ConnectionTest" classname="Ngames.Framework.Tests.Database.ConnectionTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Database/ConnectionTest.php" line="172" assertions="1" time="0.000312"/>
        <testcase name="testGetQueries" class="Ngames\Framework\Tests\Database\ConnectionTest" classname="Ngames.Framework.Tests.Database.ConnectionTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Database/ConnectionTest.php" line="177" assertions="1" time="0.000297"/>
      </testsuite>
      <testsuite name="Ngames\Framework\Tests\Database\FinderTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Database/FinderTest.php" tests="2" assertions="19" errors="0" warnings="0" failures="0" skipped="0" time="0.013594">
        <testcase name="testQuery" class="Ngames\Framework\Tests\Database\FinderTest" classname="Ngames.Framework.Tests.Database.FinderTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Database/FinderTest.php" line="31" assertions="11" time="0.013010"/>
        <testcase name="testQueryOne" class="Ngames\Framework\Tests\Database\FinderTest" classname="Ngames.Framework.Tests.Database.FinderTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Database/FinderTest.php" line="51" assertions="8" time="0.000585"/>
      </testsuite>
      <testsuite name="Ngames\Framework\Tests\ExceptionTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ExceptionTest.php" tests="1" assertions="2" errors="0" warnings="0" failures="0" skipped="0" time="0.000490">
        <testcase name="testTrace" class="Ngames\Framework\Tests\ExceptionTest" classname="Ngames.Framework.Tests.ExceptionTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ExceptionTest.php" line="30" assertions="2" time="0.000490"/>
      </testsuite>
      <testsuite name="Ngames\Framework\Tests\LoggerTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/LoggerTest.php" tests="7" assertions="23" errors="0" warnings="0" failures="0" skipped="0" time="0.003298">
        <testcase name="testInitialize" class="Ngames\Framework\Tests\LoggerTest" classname="Ngames.Framework.Tests.LoggerTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/LoggerTest.php" line="58" assertions="4" time="0.001131"/>
        <testcase name="testSetDestination_error" class="Ngames\Framework\Tests\LoggerTest" classname="Ngames.Framework.Tests.LoggerTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/LoggerTest.php" line="75" assertions="2" time="0.000373"/>
        <testcase name="test_minLevelDebug" class="Ngames\Framework\Tests\LoggerTest" classname="Ngames.Framework.Tests.LoggerTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/LoggerTest.php" line="82" assertions="4" time="0.000383"/>
        <testcase name="test_minLevelInfo" class="Ngames\Framework\Tests\LoggerTest" classname="Ngames.Framework.Tests.LoggerTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/LoggerTest.php" line="99" assertions="4" time="0.000370"/>
        <testcase name="test_minLevelWarning" class="Ngames\Framework\Tests\LoggerTest" classname="Ngames.Framework.Tests.LoggerTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/LoggerTest.php" line="117" assertions="4" time="0.000367"/>
        <testcase name="test_minLevelError" class="Ngames\Framework\Tests\LoggerTest" classname="Ngames.Framework.Tests.LoggerTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/LoggerTest.php" line="135" assertions="4" time="0.000360"/>
        <testcase name="test_logFormat" class="Ngames\Framework\Tests\LoggerTest" classname="Ngames.Framework.Tests.LoggerTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/LoggerTest.php" line="153" assertions="1" time="0.000315"/>
      </testsuite>
      <testsuite name="Ngames\Framework\Tests\RequestTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/RequestTest.php" tests="12" assertions="34" errors="0" warnings="0" failures="0" skipped="0" time="0.062813">
        <testcase name="testGetSession" class="Ngames\Framework\Tests\RequestTest" classname="Ngames.Framework.Tests.RequestTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/RequestTest.php" line="35" assertions="3" time="0.007026"/>
        <testcase name="testGetMethod" class="Ngames\Framework\Tests\RequestTest" classname="Ngames.Framework.Tests.RequestTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/RequestTest.php" line="50" assertions="1" time="0.006029"/>
        <testcase name="testGetGetParameter" class="Ngames\Framework\Tests\RequestTest" classname="Ngames.Framework.Tests.RequestTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/RequestTest.php" line="58" assertions="3" time="0.005287"/>
        <testcase name="testGetPostParameter" class="Ngames\Framework\Tests\RequestTest" classname="Ngames.Framework.Tests.RequestTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/RequestTest.php" line="69" assertions="3" time="0.005804"/>
        <testcase name="testGetCookie" class="Ngames\Framework\Tests\RequestTest" classname="Ngames.Framework.Tests.RequestTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/RequestTest.php" line="80" assertions="3" time="0.004821"/>
        <testcase name="testMethod" class="Ngames\Framework\Tests\RequestTest" classname="Ngames.Framework.Tests.RequestTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/RequestTest.php" line="91" assertions="4" time="0.005015"/>
        <testcase name="testGetHeader" class="Ngames\Framework\Tests\RequestTest" classname="Ngames.Framework.Tests.RequestTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/RequestTest.php" line="102" assertions="3" time="0.004836"/>
        <testcase name="testGetFile" class="Ngames\Framework\Tests\RequestTest" classname="Ngames.Framework.Tests.RequestTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/RequestTest.php" line="113" assertions="2" time="0.005829"/>
        <testcase name="testIsCli" class="Ngames\Framework\Tests\RequestTest" classname="Ngames.Framework.Tests.RequestTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/RequestTest.php" line="123" assertions="2" time="0.004849"/>
        <testcase name="testGetRequestUri" class="Ngames\Framework\Tests\RequestTest" classname="Ngames.Framework.Tests.RequestTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/RequestTest.php" line="132" assertions="4" time="0.004956"/>
        <testcase name="testGetRequestUri_errorInvalid" class="Ngames\Framework\Tests\RequestTest" classname="Ngames.Framework.Tests.RequestTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/RequestTest.php" line="149" assertions="2" time="0.005110"/>
        <testcase name="testGetRemoteAddress" class="Ngames\Framework\Tests\RequestTest" classname="Ngames.Framework.Tests.RequestTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/RequestTest.php" line="159" assertions="4" time="0.003248"/>
      </testsuite>
      <testsuite name="Ngames\Framework\Tests\ResponseTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ResponseTest.php" tests="9" assertions="27" errors="0" warnings="0" failures="0" skipped="0" time="0.010363">
        <testcase name="testSend_default" class="Ngames\Framework\Tests\ResponseTest" classname="Ngames.Framework.Tests.ResponseTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ResponseTest.php" line="30" assertions="3" time="0.000618"/>
        <testcase name="testSend_withContent" class="Ngames\Framework\Tests\ResponseTest" classname="Ngames.Framework.Tests.ResponseTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ResponseTest.php" line="39" assertions="3" time="0.000287"/>
        <testcase name="testSend_statusCode" class="Ngames\Framework\Tests\ResponseTest" classname="Ngames.Framework.Tests.ResponseTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ResponseTest.php" line="49" assertions="3" time="0.000282"/>
        <testcase name="testSend_contentType" class="Ngames\Framework\Tests\ResponseTest" classname="Ngames.Framework.Tests.ResponseTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ResponseTest.php" line="62" assertions="3" time="0.001795"/>
        <testcase name="testCreateOkResponse" class="Ngames\Framework\Tests\ResponseTest" classname="Ngames.Framework.Tests.ResponseTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ResponseTest.php" line="72" assertions="3" time="0.000371"/>
        <testcase name="testCreateInternalErrorResponse" class="Ngames\Framework\Tests\ResponseTest" classname="Ngames.Framework.Tests.ResponseTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ResponseTest.php" line="84" assertions="3" time="0.001722"/>
        <testcase name="testCreateNotFoundResponse" class="Ngames\Framework\Tests\ResponseTest" classname="Ngames.Framework.Tests.ResponseTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ResponseTest.php" line="96" assertions="3" time="0.001777"/>
        <testcase name="testCreateBadRequestResponse" class="Ngames\Framework\Tests\ResponseTest" classname="Ngames.Framework.Tests.ResponseTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ResponseTest.php" line="108" assertions="3" time="0.001715"/>
        <testcase name="testCreateRedirectResponse" class="Ngames\Framework\Tests\ResponseTest" classname="Ngames.Framework.Tests.ResponseTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ResponseTest.php" line="120" assertions="3" time="0.001796"/>
      </testsuite>
      <testsuite name="Ngames\Framework\Tests\Router\MatcherTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Router/MatcherTest.php" tests="11" assertions="31" errors="0" warnings="0" failures="0" skipped="0" time="0.004406">
        <testcase name="testInvalidInitialization_missingModuleKeyAndValue" class="Ngames\Framework\Tests\Router\MatcherTest" classname="Ngames.Framework.Tests.Router.MatcherTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Router/MatcherTest.php" line="31" assertions="2" time="0.001081"/>
        <testcase name="testInvalidInitialization_moduleKeyAndValue" class="Ngames\Framework\Tests\Router\MatcherTest" classname="Ngames.Framework.Tests.Router.MatcherTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Router/MatcherTest.php" line="38" assertions="2" time="0.000307"/>
        <testcase name="testInvalidInitialization_missingControllerKeyAndValue" class="Ngames\Framework\Tests\Router\MatcherTest" classname="Ngames.Framework.Tests.Router.MatcherTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Router/MatcherTest.php" line="45" assertions="2" time="0.000298"/>
        <testcase name="testInvalidInitialization_controllerKeyAndValue" class="Ngames\Framework\Tests\Router\MatcherTest" classname="Ngames.Framework.Tests.Router.MatcherTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Router/MatcherTest.php" line="52" assertions="2" time="0.000292"/>
        <testcase name="testInvalidInitialization_missingActionKeyAndValue" class="Ngames\Framework\Tests\Router\MatcherTest" classname="Ngames.Framework.Tests.Router.MatcherTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Router/MatcherTest.php" line="59" assertions="2" time="0.000294"/>
        <testcase name="testInvalidInitialization_actionKeyAndValue" class="Ngames\Framework\Tests\Router\MatcherTest" classname="Ngames.Framework.Tests.Router.MatcherTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Router/MatcherTest.php" line="66" assertions="2" time="0.000288"/>
        <testcase name="testNoMatch" class="Ngames\Framework\Tests\Router\MatcherTest" classname="Ngames.Framework.Tests.Router.MatcherTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Router/MatcherTest.php" line="74" assertions="3" time="0.000428"/>
        <testcase name="testMatch_onlyDefault" class="Ngames\Framework\Tests\Router\MatcherTest" classname="Ngames.Framework.Tests.Router.MatcherTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Router/MatcherTest.php" line="87" assertions="4" time="0.000413"/>
        <testcase name="testMatch_matchModule" class="Ngames\Framework\Tests\Router\MatcherTest" classname="Ngames.Framework.Tests.Router.MatcherTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Router/MatcherTest.php" line="97" assertions="4" time="0.000336"/>
        <testcase name="testMatch_matchController" class="Ngames\Framework\Tests\Router\MatcherTest" classname="Ngames.Framework.Tests.Router.MatcherTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Router/MatcherTest.php" line="107" assertions="4" time="0.000331"/>
        <testcase name="testMatch_matchAction" class="Ngames\Framework\Tests\Router\MatcherTest" classname="Ngames.Framework.Tests.Router.MatcherTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Router/MatcherTest.php" line="117" assertions="4" time="0.000338"/>
      </testsuite>
      <testsuite name="Ngames\Framework\Tests\Router\RouterTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Router/RouterTest.php" tests="4" assertions="8" errors="0" warnings="0" failures="0" skipped="0" time="0.001444">
        <testcase name="testGetRoute_noRouteDefined" class="Ngames\Framework\Tests\Router\RouterTest" classname="Ngames.Framework.Tests.Router.RouterTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Router/RouterTest.php" line="31" assertions="1" time="0.000272"/>
        <testcase name="testGetRoute_match" class="Ngames\Framework\Tests\Router\RouterTest" classname="Ngames.Framework.Tests.Router.RouterTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Router/RouterTest.php" line="40" assertions="3" time="0.000341"/>
        <testcase name="testGetRoute_noMatch" class="Ngames\Framework\Tests\Router\RouterTest" classname="Ngames.Framework.Tests.Router.RouterTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Router/RouterTest.php" line="50" assertions="1" time="0.000316"/>
        <testcase name="testGetRoute_routeOrder" class="Ngames\Framework\Tests\Router\RouterTest" classname="Ngames.Framework.Tests.Router.RouterTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Router/RouterTest.php" line="58" assertions="3" time="0.000515"/>
      </testsuite>
      <testsuite name="Ngames\Framework\Tests\Storage\IniFileTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Storage/IniFileTest.php" tests="3" assertions="12" errors="0" warnings="0" failures="0" skipped="0" time="0.001817">
        <testcase name="testConstructor_failure" class="Ngames\Framework\Tests\Storage\IniFileTest" classname="Ngames.Framework.Tests.Storage.IniFileTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Storage/IniFileTest.php" line="30" assertions="1" time="0.000554"/>
        <testcase name="testParseFile" class="Ngames\Framework\Tests\Storage\IniFileTest" classname="Ngames.Framework.Tests.Storage.IniFileTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Storage/IniFileTest.php" line="36" assertions="10" time="0.000995"/>
        <testcase name="testWriteFile" class="Ngames\Framework\Tests\Storage\IniFileTest" classname="Ngames.Framework.Tests.Storage.IniFileTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Storage/IniFileTest.php" line="53" assertions="1" time="0.000268"/>
      </testsuite>
      <testsuite name="Ngames\Framework\Tests\Storage\PhpArrayTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Storage/PhpArrayTest.php" tests="5" assertions="13" errors="0" warnings="0" failures="0" skipped="0" time="0.001431">
        <testcase name="testHas" class="Ngames\Framework\Tests\Storage\PhpArrayTest" classname="Ngames.Framework.Tests.Storage.PhpArrayTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Storage/PhpArrayTest.php" line="30" assertions="4" time="0.000297"/>
        <testcase name="testSet" class="Ngames\Framework\Tests\Storage\PhpArrayTest" classname="Ngames.Framework.Tests.Storage.PhpArrayTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Storage/PhpArrayTest.php" line="38" assertions="2" time="0.000286"/>
        <testcase name="testGet" class="Ngames\Framework\Tests\Storage\PhpArrayTest" classname="Ngames.Framework.Tests.Storage.PhpArrayTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Storage/PhpArrayTest.php" line="46" assertions="3" time="0.000294"/>
        <testcase name="testClear" class="Ngames\Framework\Tests\Storage\PhpArrayTest" classname="Ngames.Framework.Tests.Storage.PhpArrayTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Storage/PhpArrayTest.php" line="54" assertions="2" time="0.000292"/>
        <testcase name="testReset" class="Ngames\Framework\Tests\Storage\PhpArrayTest" classname="Ngames.Framework.Tests.Storage.PhpArrayTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Storage/PhpArrayTest.php" line="62" assertions="2" time="0.000261"/>
      </testsuite>
      <testsuite name="Ngames\Framework\Tests\Storage\PhpSessionTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Storage/PhpSessionTest.php" tests="4" assertions="11" errors="0" warnings="0" failures="0" skipped="0" time="0.008908">
        <testcase name="testGetter" class="Ngames\Framework\Tests\Storage\PhpSessionTest" classname="Ngames.Framework.Tests.Storage.PhpSessionTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Storage/PhpSessionTest.php" line="42" assertions="4" time="0.002076"/>
        <testcase name="testGetInstance" class="Ngames\Framework\Tests\Storage\PhpSessionTest" classname="Ngames.Framework.Tests.Storage.PhpSessionTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Storage/PhpSessionTest.php" line="54" assertions="2" time="0.002753"/>
        <testcase name="testSetter" class="Ngames\Framework\Tests\Storage\PhpSessionTest" classname="Ngames.Framework.Tests.Storage.PhpSessionTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Storage/PhpSessionTest.php" line="64" assertions="3" time="0.002087"/>
        <testcase name="testResetSession" class="Ngames\Framework\Tests\Storage\PhpSessionTest" classname="Ngames.Framework.Tests.Storage.PhpSessionTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Storage/PhpSessionTest.php" line="76" assertions="2" time="0.001992"/>
      </testsuite>
      <testsuite name="Ngames\Framework\Tests\TimerTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/TimerTest.php" tests="3" assertions="3" errors="0" warnings="0" failures="0" skipped="0" time="0.001581">
        <testcase name="testCreateTimer" class="Ngames\Framework\Tests\TimerTest" classname="Ngames.Framework.Tests.TimerTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/TimerTest.php" line="30" assertions="1" time="0.001009"/>
        <testcase name="testNow" class="Ngames\Framework\Tests\TimerTest" classname="Ngames.Framework.Tests.TimerTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/TimerTest.php" line="37" assertions="1" time="0.000300"/>
        <testcase name="testCustom" class="Ngames\Framework\Tests\TimerTest" classname="Ngames.Framework.Tests.TimerTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/TimerTest.php" line="44" assertions="1" time="0.000272"/>
      </testsuite>
      <testsuite name="Ngames\Framework\Tests\Utility\InflectorTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Utility/InflectorTest.php" tests="5" assertions="17" errors="0" warnings="0" failures="0" skipped="0" time="0.001382">
        <testcase name="testCamelize" class="Ngames\Framework\Tests\Utility\InflectorTest" classname="Ngames.Framework.Tests.Utility.InflectorTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Utility/InflectorTest.php" line="30" assertions="4" time="0.000289"/>
        <testcase name="testUnderscore" class="Ngames\Framework\Tests\Utility\InflectorTest" classname="Ngames.Framework.Tests.Utility.InflectorTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Utility/InflectorTest.php" line="38" assertions="3" time="0.000275"/>
        <testcase name="testHumanize" class="Ngames\Framework\Tests\Utility\InflectorTest" classname="Ngames.Framework.Tests.Utility.InflectorTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Utility/InflectorTest.php" line="45" assertions="2" time="0.000264"/>
        <testcase name="testPluralize" class="Ngames\Framework\Tests\Utility\InflectorTest" classname="Ngames.Framework.Tests.Utility.InflectorTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Utility/InflectorTest.php" line="51" assertions="4" time="0.000275"/>
        <testcase name="testEllipsis" class="Ngames\Framework\Tests\Utility\InflectorTest" classname="Ngames.Framework.Tests.Utility.InflectorTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/Utility/InflectorTest.php" line="59" assertions="4" time="0.000279"/>
      </testsuite>
      <testsuite name="Ngames\Framework\Tests\ViewTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ViewTest.php" tests="21" assertions="38" errors="0" warnings="0" failures="0" skipped="0" time="0.007714">
        <testcase name="testGetSetVariable" class="Ngames\Framework\Tests\ViewTest" classname="Ngames.Framework.Tests.ViewTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ViewTest.php" line="32" assertions="2" time="0.000276"/>
        <testcase name="testGetVariable_errorNotSet" class="Ngames\Framework\Tests\ViewTest" classname="Ngames.Framework.Tests.ViewTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ViewTest.php" line="39" assertions="2" time="0.000299"/>
        <testcase name="testGetVariable_errorProtected" class="Ngames\Framework\Tests\ViewTest" classname="Ngames.Framework.Tests.ViewTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ViewTest.php" line="47" assertions="2" time="0.000294"/>
        <testcase name="testSetVariable_errorProtected" class="Ngames\Framework\Tests\ViewTest" classname="Ngames.Framework.Tests.ViewTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ViewTest.php" line="55" assertions="2" time="0.000290"/>
        <testcase name="testUnsetVariable" class="Ngames\Framework\Tests\ViewTest" classname="Ngames.Framework.Tests.ViewTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ViewTest.php" line="63" assertions="1" time="0.000439"/>
        <testcase name="testGetScript" class="Ngames\Framework\Tests\ViewTest" classname="Ngames.Framework.Tests.ViewTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ViewTest.php" line="71" assertions="3" time="0.000282"/>
        <testcase name="testSetScriptFromRoute" class="Ngames\Framework\Tests\ViewTest" classname="Ngames.Framework.Tests.ViewTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ViewTest.php" line="82" assertions="1" time="0.000277"/>
        <testcase name="testGetDirectory" class="Ngames\Framework\Tests\ViewTest" classname="Ngames.Framework.Tests.ViewTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ViewTest.php" line="90" assertions="2" time="0.000268"/>
        <testcase name="testGetParentView" class="Ngames\Framework\Tests\ViewTest" classname="Ngames.Framework.Tests.ViewTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ViewTest.php" line="98" assertions="3" time="0.000282"/>
        <testcase name="testPlaceholder" class="Ngames\Framework\Tests\ViewTest" classname="Ngames.Framework.Tests.ViewTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ViewTest.php" line="108" assertions="2" time="0.000266"/>
        <testcase name="testStartStopPlaceholder" class="Ngames\Framework\Tests\ViewTest" classname="Ngames.Framework.Tests.ViewTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ViewTest.php" line="116" assertions="1" time="0.000269"/>
        <testcase name="testStartPlaceholder_errorAlreadyStarted" class="Ngames\Framework\Tests\ViewTest" classname="Ngames.Framework.Tests.ViewTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ViewTest.php" line="125" assertions="2" time="0.000294"/>
        <testcase name="testStopPlaceholder_errorNoneStarted" class="Ngames\Framework\Tests\ViewTest" classname="Ngames.Framework.Tests.ViewTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ViewTest.php" line="135" assertions="2" time="0.000292"/>
        <testcase name="testStylesheets" class="Ngames\Framework\Tests\ViewTest" classname="Ngames.Framework.Tests.ViewTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ViewTest.php" line="143" assertions="1" time="0.000281"/>
        <testcase name="testScripts" class="Ngames\Framework\Tests\ViewTest" classname="Ngames.Framework.Tests.ViewTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ViewTest.php" line="152" assertions="1" time="0.000277"/>
        <testcase name="testSetLayout" class="Ngames\Framework\Tests\ViewTest" classname="Ngames.Framework.Tests.ViewTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ViewTest.php" line="161" assertions="3" time="0.000293"/>
        <testcase name="testDisableLayout" class="Ngames\Framework\Tests\ViewTest" classname="Ngames.Framework.Tests.ViewTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ViewTest.php" line="170" assertions="2" time="0.000289"/>
        <testcase name="testRender" class="Ngames\Framework\Tests\ViewTest" classname="Ngames.Framework.Tests.ViewTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ViewTest.php" line="179" assertions="1" time="0.001330"/>
        <testcase name="testRenderForModule" class="Ngames\Framework\Tests\ViewTest" classname="Ngames.Framework.Tests.ViewTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ViewTest.php" line="194" assertions="1" time="0.000604"/>
        <testcase name="testRender_errorScriptNotFound" class="Ngames\Framework\Tests\ViewTest" classname="Ngames.Framework.Tests.ViewTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ViewTest.php" line="209" assertions="2" time="0.000354"/>
        <testcase name="testRender_errorPlaceholderNotStopped" class="Ngames\Framework\Tests\ViewTest" classname="Ngames.Framework.Tests.ViewTest" file="/Users/nbraquart/Projects/ngames-framework/tests/Ngames/Framework/Tests/ViewTest.php" line="218" assertions="2" time="0.000459"/>
      </testsuite>
    </testsuite>
  </testsuite>
</testsuites>
